<div class="h-full w-full bg-zinc-50 dark:bg-gray-950 p-2 flex justify-center overflow-auto">
	<div class="flex" routerLink="/menu/home">
		<mat-icon class="text-gray-600 dark:text-gray-300 flex">exit_to_app</mat-icon>
	</div>
	<div class="bg-zinc-50 dark:bg-gray-800 text-gray-600 dark:text-gray-300 border rounded-lg shadow-md mx-auto p-4  h-auto m-auto">
		<!-- User Info -->
		<div class="flex items-center justify-between">
			<div class="flex space-x-2">
				<img *ngIf="!profil?.imgUrl" src="assets/profil.jpeg" alt="Profile Picture" class="w-16 h-16 rounded-full object-cover">
				<img *ngIf="profil?.imgUrl" [src]="profil?.imgUrl" alt="Profile Picture" class="w-16 h-16 rounded-full object-cover">				<div>
					<p class="">{{selectedStr?.memId!.username}}</p>
					<p class="">2 hours ago</p>
				</div>
			</div>
			<div *ngIf="profil?.username === selectedStr?.memId!.username" class="flex">
				<button (click)="isMenuOpen = !isMenuOpen" type="button" cdkOverlayOrigin
								#trigger="cdkOverlayOrigin" aria-label="Example icon-button with a menu" class="bg">
					<mat-icon>more_vert</mat-icon>
				</button>
				<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
					[cdkConnectedOverlayOpen]="isMenuOpen" (backdropClick)="isMenuOpen = !isMenuOpen"
					[cdkConnectedOverlayHasBackdrop]="isMenuOpen">
					<div (click)="isMenuOpen = !isMenuOpen"
						class="text-left h-auto w-auto border bg-gray-100 dark:bg-gray-600 rounded shadow text-gray-600 dark:text-gray-300  p-2">
						<button (click)="deleteMyStory()" routerLink="/menu/home" class="flex items-center space-x-1">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
							stroke="currentColor" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round"
								d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
						</svg>							<span>delete post</span>
						</button>
					</div>
				</ng-template>
			</div>
		</div>

		<!-- Story Content -->
		<div class="flex mt-4 max-h-screen max-w-screen-lg">
			<img [src]="selectedStr?.imgUrl" alt="Story" class="rounded h-auto w-full object-contain">
		</div>

		<!-- Action Buttons -->
		<div class="flex justify-between mt-4">
			<button class="flex items-center space-x-2">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-700" fill="none" viewBox="0 0 24 24"
					stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
				</svg>
				<span class="text-gray-700">Send Message</span>
			</button>
			<button class="flex items-center space-x-2">
				<p class="pt-4"><mat-icon>bookmark_border</mat-icon></p>

				<span class="text-gray-700">Add to Favorites</span>
			</button>
		</div>
	</div>
</div>